{{#each ironManSuit as |ironManSuit|}}
    <section data-id="{{ironManSuit._id}}">
    <h6>Model:</h6>
    <h3>
      {{limit ironManSuit.model 15}}
    </h3>
    <h6>Description:</h6>
    <p>
      {{#if ironManSuit.description}}
        {{ironManSuit.description}}
      {{else}}
        No model provided.
      {{/if}}
    </p>
    <h6>Key:</h6>
    <h3>
      {{#if ironManSuit._id}}
          {{ironManSuit._id}}
        {{else}}
          No id provided.
        {{/if}}
    </h3>
      {{!-- {{> partial}} --}}
      </section>

  {{/each}}
